.input-box input{
  border: 1px solid black;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  padding: 48px 56px;
  border-radius: 8px;
 
}
.box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  gap: 15px;

}
.text-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.logo{
  margin: auto;
  color: blue;
  font-size: 40px;
  margin-bottom: 30px;
}
.text-box h5{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}
.text{
  font-size: 13px;
  font-family: 400;
  margin-bottom: 6px;

}
.Untitled{
  font-weight: 500;
  margin-bottom: 16px;
}

.input-box{
  width: 100%;
  display: flex;
  flex-direction: column;
 

}
.input-box input{
  height: 40px;
  padding-left:15px;
  border-radius: 8px;
  font-weight: 200;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #0000000D;
  margin-bottom: 5px;
 
}
.input-box button{
 height: 40px;
  background-color:  #0d99ff;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.input-box span{
  color: red;
  font-size: 13px;
}


